:root {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(rgba(125, 83, 240, 1), rgba(17, 160, 243, .6));
    align-items: center;
}

#footer {
    font-size: .8rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 30rem;
}

#calculator {
    width: 22rem;
    background-color: rgb(27, 26, 26);
    padding: .2rem;
    margin: auto;
    border-radius: .5rem;
}

#display {
    flex: 0 0 auto;
    background-color: beige;
    padding: 0.5rem;
    margin-bottom: 0.15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-image: linear-gradient(45deg, rgba(125, 83, 240, 0.344), rgba(17, 160, 243, 0.505));
}

#display-previous {
    font-size: 0.7rem;
    word-wrap: break-word;
    word-break: break-all;
}

#display-expression {
    min-height: 1.5rem;
    font-size: 1.2rem;
    margin: 0.3rem 0;
    word-wrap: break-word;
    word-break: break-all;
}

#display-answer {
    font-size: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding: 5px 30px;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    background-image: linear-gradient(225deg, rgba(125, 83, 240, 0.644), rgba(17, 160, 243, 0.705));
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    font-size: 1.1rem;
    width: 3rem;
    height: 2rem;
    margin: .2rem .3rem;
    border: 2px solid rgb(37, 34, 34);
    border-radius: 5px;
    background-image: linear-gradient(0deg, rgba(125, 83, 240, 0.244), rgba(17, 160, 243, 0.405));
}